body {
    background-color: #677798;
}

body{
    font-family: verdana;
    font-size: 100%;
    align-content: center;
}

td.value {
	padding:0;
    border-bottom: none;
	background-color:transparent;
}
td {
	padding: 4px 6px;

}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}
td.value img {
	vertical-align: middle;
	margin: 5px 5px 5px 0;
}
th {
	text-align: left;
	vertical-align:top;
}
td.last {
	border-bottom:1px solid #e5e5e5;
		border-top:1px solid #e5e5e5;
}
td.first {
	border-top:1px solid #e5e5e5;
	    color: #D7D7D7;

}
.auraltext
{
	position: absolute;
	font-size: 0;
	left: -1000px;
}
table {
	width: 33em;
	    margin: auto;
    width: 50%;
}
caption {
	font-size:90%;
	font-style:italic;
}

.opt{
    margin: auto;
    width: 50%;
    padding: 10px;
    color: #D7D7D7;
}
.header{
    margin: auto;
    width: 50%;
    padding: 3px;
        color: #D7D7D7;
}
.submitdiv{
    margin: auto;
    width: 50%;
    padding: 10px;
       color: #D7D7D7;
}
.submitbutton{
    margin: auto;
    width: 100px;
    padding: 10px;
       color: #17213A;
}
.hideme{
    display:none;
}